<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utilities.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Utilities.Settings>
            <setting name="HistorialCargasNull" serializeAs="String">
                <value>El Historial no existe !</value>
            </setting>
            <setting name="UsersNull" serializeAs="String">
                <value>El Usuario no existe !</value>
            </setting>
        </Utilities.Settings>
    </applicationSettings>
</configuration>